services:
  # frontend:
  #   build:
  #     context: ./frontend
  #     dockerfile: Dockerfile
  #   container_name: frontend
  #   networks:
  #     - app_network
  #   env_file:
  #     - path: ./frontend/.env
  #       required: false
  #   environment:
  #     - PYTHONUNBUFFERED=1
  #   depends_on:
  #     - backend
  #     - mcp_server
  #   restart: unless-stopped

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: backend
    networks:
      - app_network
    ports:
      - "8080:8080"
    env_file:
      - path: ./backend/.env
        required: true
    environment:
      - PYTHONUNBUFFERED=1
    depends_on:
      mcp_server:
        condition: service_healthy
    restart: unless-stopped

  mcp_server:
    build:
      context: ./mcp_server
      dockerfile: Dockerfile
    container_name: mcp_server
    networks:
      - app_network
    ports:
      - "8000:8000"
    env_file:
      - path: ./mcp_server/.env
        required: false
    environment:
      - PYTHONUNBUFFERED=1
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8000/health" ]
      interval: 5s
      timeout: 3s
      retries: 5
      start_period: 10s
    restart: unless-stopped

networks:
  app_network:
    driver: bridge
