name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true

      - name: Set up Python
        run: uv python install

      - name: Install dependencies
        run: uv sync

      - name: Run Ruff (Lint & Format)
        run: uv run ruff check . && uv run ruff format --check .

      - name: Run Mypy (Type Check)
        run: uv run mypy src

      - name: Run Pytest
        run: uv run pytest
